<header>
    <div class="nav">
        <div class="logo">
            <a href="#"> E-Commerce Shop</a>
        </div>
        <div class="search-box">
            <input type="text" id="search" placeholder="Search" #searchInput>
            <button class="icon" id="search-icon" (click)="changeInput(searchInput)">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="cart">
            <div class="icon">
                <i class="fa-solid fa-cart-shopping"></i><span>Cart</span>
            </div>
        </div>
    </div>
</header>