.box{
    width: calc(100vw - 360px);
    
    /* background-color: hsl(210, 17%, 98%); */
    box-shadow: 0px 0px 5px rgb(214, 212, 212);
    margin: 1rem 0 1rem 0;
}

.holder{
    background-color: hsl(210, 17%, 98%);
}

app-products-filter{
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    bottom: 0;
    z-index: 2;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.product-list{
   padding: 1rem;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
}

.search-for{
    padding: 1rem 1rem 0 1rem
}

.search-for p{
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: 400;
}

.product-wrapper{
    max-width: 25%;
}

.holder{
    display: flex;
}
