<div class="holder">
    <app-products-filter (changedEvent)="onCatgChange($event)"></app-products-filter>
    <div class="box">
        <div class="search-for" *ngIf="query != '' ">
            <p>Results for : {{query}} </p>
        </div>
        <div class="product-list">
            <div *ngFor="let product of allProducts" class="product-wrapper">
                <app-product [product]="product" *ngIf="query === '' ||  product.data.name.toLowerCase().includes(query)" (click)="pdp(product)"></app-product>
            </div>
        </div>
    </div>
</div>