<div class="box">
    <div class="accordion accordion-flush" id="filter-accordian">
        <div class="accordion-item">
            <div class="filter-name">Filter
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                    CATEGORY
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
                data-bs-parent="#filter-accordian">
                <div class="accordion-body">
                    <div class="catg">
                        <input type="radio" name="category" value="all" [(ngModel)]="choiceCategory" id="all" (change)="onChangeCategory()">
                        <label for="all">All</label>
                    </div>
                    <div class="catg">
                        <input type="radio" name="category" value="smartwatch" [(ngModel)]="choiceCategory" id="smartwatch" (change)="onChangeCategory()">
                        <label for="smartwatch">Smartwatch</label>
                    </div>
                    <div class="catg">
                        <input type="radio" name="category" value="earbuds" [(ngModel)]="choiceCategory" id="earbuds" (change)="onChangeCategory()">
                        <label for="earbuds">Earbuds</label>
                    </div>
                    <div class="catg">
                        <input type="radio" name="category" value="watch" [(ngModel)]="choiceCategory" id="watch" (change)="onChangeCategory()">
                        <label for="watch">Watch</label>
                    </div>
                    <div class="catg">
                        <input type="radio" name="category" value="backpack" [(ngModel)]="choiceCategory" id="backpack" (change)="onChangeCategory()">
                        <label for="backpack">Backpack</label>
                    </div>
                    <div class="catg">
                        <input type="radio" name="category" value="shoes" [(ngModel)]="choiceCategory" id="shoes" (change)="onChangeCategory()">
                        <label for="shoes">Shoes</label>
                    </div>
                    <div class="catg">
                        <input type="radio" name="category" value="others" [(ngModel)]="choiceCategory" id="others" (change)="onChangeCategory()">
                        <label for="others">Others</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    SIZE
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#filter-accordian">
                <div class="accordion-body">

                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    BRAND
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#filter-accordian">
                <div class="accordion-body">

                </div>
            </div>
        </div>
    </div>
</div>